<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8078048766-3djbbg75si3ulakohftqn7hm29l75nj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8078048766-3djbbg75si3ulakohftqn7hm29l75nj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>8078048766-ird74p3kpa27jr5vfsh1l2dc7upeb8h5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSx7pmqmIT5n3p4P2FsDwe0P6qiqqG_b4</string>
	<key>GCM_SENDER_ID</key>
	<string>8078048766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kg.urbaneyes.urbanapp</string>
	<key>PROJECT_ID</key>
	<string>urbaneyes-a6d94</string>
	<key>STORAGE_BUCKET</key>
	<string>urbaneyes-a6d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8078048766:ios:b66ffbdebc35ffa69194af</string>
</dict>
</plist>